<div ng-include="'template/navbar.html'"></div>

<div class="container-fluid main-container">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" ng-controller="ActorCtrl">
            <h1>{{actor.artistName}}</h1>
            <h4>{{actor.primaryGenreName}}</h4>
        </div>
    </div>

    <div class="movies" ng-controller="ActorMoviesCtrl">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Movies</h2>
            </div>
        </div>
        <div class="row" ng-repeat="movie in actorMovies">
            <div class="movie-image col-md-2 col-sm-2 col-xs-12">
                <img class="thumbnail" ng-src="{{movie.artworkUrl100}}"/>
            </div>
            <div class="col-md-6 col-sm-9 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">{{movie.trackName}}</div>
                    <div class="panel-body">
                        <h5>Release date : {{movie.releaseDate | date:'yyyy-MM-dd' }}</h5>
                        <p>{{movie.longDescription}}</p>
                        <div>
                            <a class="appleButton" href="{{movie.trackViewUrl}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



