<div ng-include="'template/navbar.html'"></div>

<div class="container-fluid main-container">
    <div class="row topPage">
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h1 class="row">{{TVshowInfo.artistName}}</h1>
                    <div class="row">
                        <ul class="list-inline pointedList">
                            <li>{{TVshowInfo.primaryGenreName}}</li>
                            <li>2014/09/09</li>
                        </ul>
                    </div>
                </div>
                <div id="mediaControl" class="col-md-4 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#preview">
                        Trailer
                    </button>
                    <div id="preview" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{TVshowInfo.artistName}} - Bande Annonce</h4>
                                </div>
                                <div class="modal-body">
                                    <iframe src="{{videoLink1}}" width=100% height="315" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-6 col-xs-offset-0">
                    <a class="appleButton" href="{{TVshowSeason[1].artistViewUrl}}"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <p>
                            {{TVshowSeason[1].longDescription}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div >
                    <accordion>
                        <accordion-group is-open="status.open" ng-repeat="season in TVshowSeason | orderBy : '+numSeason'" >
                            <accordion-heading>
                                {{season.collectionName}} <i class="pull-right glyphicon"
                                                     ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            <ol>
                                <li ng-repeat="episode in TVshowEpisodes | orderBy : '+trackNumber' | filter :{collectionName:season.collectionName}">
                                    {{episode.trackCensoredName}}
                                </li>
                            </ol>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <img class="col-md-4 col-sm-4 col-xs-12" ng-src="{{TVshowSeason[0].artworkUrl500}}">
    </div>
</div>
</div>
