.home-bg {
    background: rgba(0, 0, 0, 0) url(https://leanflix-production.storage.googleapis.com/production/assets/landing/bg-landing-889bfa48452a0cc4558fe8e4bb13b411.jpg) no-repeat fixed center bottom / cover ;

}

.actor-photo {
    position: relative;
    float: left;
    width: 100%;
}

.imdb-link {
    float: left;
    position: relative;
    padding-top: 5px;
}

.movie-photo{
    float: left;
}

.movie-info {
    float: left;
    padding-left: 15px;
}

.jumbotronMovieText {
    margin-bottom: 10px;
}


.movie-list {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.movie-list-element {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    list-style-type: none;
}

.actorTopPage {
    padding-top: 70px;
}