.background-image {
    position: fixed;
    background-image: url('https://leanflix-production.storage.googleapis.com/production/assets/landing/bg-landing-889bfa48452a0cc4558fe8e4bb13b411.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #f6f7fb;
}

body {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    line-height: 175%;
}

.jumbotron p {
    font-size: 16px;
}

.thumbnail {
    float:left;
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.panel {
    overflow: hidden;
    margin-bottom: 50px;
}

.modal-content {
    border-radius: 0px;
    background-color: black;
    box-shadow:0 10px 10px #080808;
}

.modal-title {
    color: #f6f7fb;
}

.appleButton {
    background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;
    float: right;
    width:110px;
    height:40px;
}

.main-container {
    padding-top: 100px;
    padding-left: 5%;
}
