.movieCover img {
    width: 100%;
}

body {
    padding-top: 70px;
}

.movieTitle h1 {
    margin-top: 0px;
}

#appleButton {
    display: inline-block;
}

#mediaControl {
    min-height: 250px;
}

.episodeContainer .col-md-3 table tr td {
    border: 2px solid #000000;
    background-color: #3c3c3c ;
    color: #ffffff;
}

.episodeContainer .col-md-9 table tr td {
    border: 2px solid #000000;
    background-color: #3c3c3c ;
    color: #ffffff;
}

.episodeContainer .col-md-3 table tr td:hover {
    background-color: #777777 !important;
    color: #ffffff;
    cursor: pointer;
}

.episodeContainer .col-md-9 table tr td:hover {
    background-color: #777777 !important;
    color: #ffffff;
    cursor: pointer;
}

.episodeContainer .col-md-3 table tr:nth-child(even) td {
    background-color: #5e5e5e ;
}

.episodeContainer .col-md-9 table tr:nth-child(even) td {
    background-color: #5e5e5e ;
}

.episodeContainer .col-md-3 {
    padding-right: 0;
}

.episodeContainer .col-md-9 {
    padding-left: 0;
}

.episodesContainer {
    height: 266px;
    overflow-y: auto;
}

.textInJumbotron p{
    font-size: 14px;
}

.topPage {
    padding-top: 70px;
}

.pointedList {
    margin-left: 0px;
}

.pointedList li:first-child {
    padding-left: 5px;
}

.pointedList li {
    padding: 0;
}

.pointedList li:after {
    content: "|";
    margin: 0 10px;
}

.pointedList li:last-child:after {
    content: '';
}

#appleButton a{
    float: right;
    overflow:hidden;
    background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;
    width:165px;
    height:40px;
}

#previewButton {
    float: right;
}