<div class="container" ng-controller="NavbarCtrl">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-umovie" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">CornPub</a>
            </div>
            <form class="navbar-form navbar-left" role="search" method="get">
                <div>
                    <div class="input-group">

                      <input name="q" type="text" ng-model="SearchStringService.searchString" class="form-control" placeholder="Search..."
                             uib-typeahead="trackName for trackName in getMovies($viewValue)" typeahead-wait-ms="10" class="form-control" autocomplete="off">



                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" ng-click="$emit('search')" ui-sref="search">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="collapse navbar-collapse" id="navbar-collapse-umovie">
                <ul class="nav navbar-nav">
                    <li ng-if="isAuthenticated()">
                        <a ui-sref="profile({userId: ''})"><img class="img img-circle navbar-icon" ng-src="http://www.gravatar.com/avatar/{{user.md5}}?s=20">{{user.name}}</a>
                    </li>
                </ul>

                  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
                    <li><a ui-sref="logout">Logout</a></li>
                  </ul>
                  <ul class="nav navbar-nav pull-right">
                    <li ng-if="isAuthenticated()">
                      <a class="visible-xs"><span class="glyphicon glyphicon-cog navbar-icon"></span>Settings</a>
                      <a class="glyphicon glyphicon-cog hidden-xs"></a>
                    </li>
                  </ul>
                  <ul ng-if="isAuthenticated()"class="nav navbar-nav pull-right">
                    <li><a ui-sref="profile({userId: ''})">Profile</a></li>
                  </ul>
                  <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
                    <li><a ui-sref="login">Login</a></li>
                    <li><a ui-sref="signup">Sign up</a></li>
                  </ul>
            </div>
        </div>
    </nav>
</div>
